<%
    title = "error 404 - page not found"
%>
<!DOCTYPE html>
<html lang="en">

<head>
<%= generate_head_tags.(title, nil, nil) %>
</head>

<body>
    <header>
        <h1><%= title %></h1>
    </header>
    <main>
        <a href="/">home</a>
    </main>
    <footer>
        <hr>
        <div id="site_src_block">
            [<a href="https://scm.arjunsatarkar.net/www.arjunsatarkar.net">site src</a>]
        </div>
    </footer>
</body>

</html>
