<%
title = "Arjun Satarkar"
description = "Arjun Satarkar's home page"
%>
<!DOCTYPE html>
<html lang="en">

<head>
<%= generate_head_tags.(title, canonical_url, description) %>
    <script src="/static/scripts/sparkle_loop.js" defer></script>
</head>

<body>
    <header>
        <h1 class="startext"><%= title %></h1>
    </header>
    <main>
        <address style="font-style: normal;">
            email: <a href="mailto:me@arjunsatarkar.net">me@arjunsatarkar.net</a>
        </address>
        <br>
        <nav id="sitelinks">🌐 <a href="https://scm.arjunsatarkar.net/">source code</a> | <a
                href="https://admin.arjunsatarkar.net">admin</a></nav><br>
        <span id="sparkle_loop">🌟</span>
    </main>
    <footer>
        <hr>
        <details>
            <summary>attribution</summary>
            <ul>
                <li>
                    <a href="/static/media/Starsinthesky/ATTRIBUTION.txt">starry text texture</a>
                </li>
            </ul>
        </details>
        <div id="site_src_block">
            [<a href="https://scm.arjunsatarkar.net/www.arjunsatarkar.net">site src</a>]
        </div>
    </footer>
</body>

</html>
