<%
    title = "Arjun Satarkar"
    description = "Arjun Satarkar's home page."
%>
<!DOCTYPE html>
<html lang="en">

<head>
<%= generate_head_tags.(title, canonical_url, description) %>
    <script src="/static/scripts/sparkle_loop.js" defer></script>
</head>

<body>
    <header>
        <h1 class="startext"><%= title %></h1>
    </header>
    <main>
        <span>email: <address><a href="mailto:me@arjunsatarkar.net">me@arjunsatarkar.net</a></address></span>
        <br><br>
        <nav id="sitelinks">🌐 <a href="https://scm.arjunsatarkar.net/">source code</a> | <a
                href="https://admin.arjunsatarkar.net">admin</a></nav><br>
        <span id="sparkle_loop">🌟</span>
    </main>
    <footer>
        <hr>
        <details id="attributions">
            <summary>attributions</summary>
            <span class="startext">starry text texture:</span> <a
                href="https://commons.wikimedia.org/wiki/File:Starsinthesky.jpg">ESA/Hubble</a>, <a
                href="https://creativecommons.org/licenses/by/4.0">CC BY 4.0</a>, via Wikimedia Commons
        </details>
        <div id="site_src_block">
            [<a href="https://scm.arjunsatarkar.net/www.arjunsatarkar.net">site src</a>]
        </div>
    </footer>
</body>

</html>
