@font-face {
    font-family: "Ubuntu Mono";
    src: url("/fonts/ubuntu-font-family-0.83/UbuntuMono-R.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu Mono";
    src: url("/fonts/ubuntu-font-family-0.83/UbuntuMono-RI.ttf") format("opentype");
    font-weight: normal;
    font-style: italic;
}

:root {
    --text-color: white;
}

body {
    background-color: black;
    color: var(--text-color);
    font-family: "Ubuntu Mono", monospace;
    font-size: 1.5rem;
}

@media (orientation: landscape) {
    body {
        margin-left: 10%;
        margin-right: 10%;
    }
}

a:link {
    color: lightskyblue;
}
    
a:visited {
    color: rgb(207, 193, 236);
}
